body {
  background-color: greenyellow;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 40px;
}

 h1 {
  color: #5f1e41;
  }
  h1 {
  text-align: center;
}

p {
  color: #3333339e;
  font-size: 24px;
}
h2 {
    color: blue;
    }
    h2 {
  color: darkgreen;
}

a {
  color: darkblue;
}
p {
  padding: 40px;
  border: 10px solid darkgreen;
  margin: 0px;
  background-color: white;
}
