body {
  background-color: greenyellow;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 40px;
}

h1 {
  color: #1e3a5f;
  h1 {
  text-align: center;
}

p {
  color: #3333339e;
  font-size: 24px;
}